* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MS1';
    src: url('fonts/ms1.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('noise.png'), radial-gradient(rgba(255, 15, 71, 1), rgb(255, 171, 150, 1));
    background-attachment: fixed;
    background-repeat: repeat;
    color: #fefefe;
}

h1 {
    font-family: 'MS1', sans-serif;
    font-size: 3rem;
    font-weight: 400;
}

.sign-up {
    font-family: 'Poppins', sans-serif;
    display: inline;
    background: rgb(255, 15, 71);
    color: #fefefe;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    margin: 1rem 0 1rem 0;
    border: 3px solid #fefefe;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.main {
    height: 70vh;
    padding-top: 20vh;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.details {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.sponsors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 20vh;
}

.sponsors img {
    width: 10%;
    filter: grayscale(100%);
}

.scroll-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.scroll-icon img {
    width: max(5%, 70px);
    opacity: 0.6;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
}

nav a {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(255, 15, 71);
    color: #fefefe;
    font-weight: 600;
    text-decoration: none;
    margin: 0.1rem 0;
    border: 3px solid #fefefe;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
}

nav a:hover, nav a:active, nav a:focus {
    outline: none;
    color: #2e2e2e;
    border-color: #2e2e2e;
}

.section-inner {
    padding-bottom: 4rem;
    max-width: min(60vw, 900px);
    text-align: left;
}

a {
    color: #aeaef2;
}

.prize-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    margin-top: 1rem;
}

td {
    padding: 0 1rem 0 1rem;
}

h2 {
    text-align: center;
}

.faqs h3 {
    margin-top: 1rem;
}

.schedule-table table {
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
}

.schedule-table th, .schedule-table td {
    border: 1px solid white;
    padding: 0.5rem;
}

.schedule-table ul {
    margin-left: 1rem;
}

#theme-container {
    margin-top: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

#theme {
    font-family: 'Poppins', sans-serif;
    display: inline;
    background: rgb(255, 15, 71);
    color: #fefefe;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    margin: 1rem 0 1rem 0;
    border: 3px solid #fefefe;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

@media (max-width: 768px) {
    .main {
        height: 50vh;
    }

    .sponsors {
        flex-direction: column;
        height: 40vh;
    }

    .sponsors img {
        width: 30%;
    }

    .section-inner {
        max-width: 80vw;
    }

    nav {
        left: 0;
        width: 100%;
        right: auto;
        padding: 1.5rem 1rem;
    }
}
